@model IEnumerable<DesenvolvimentoWeb.Projeto02.Models.Evento>

@{
    ViewData["Title"] = "Listar Eventos";
}

<h2>Listar Eventos</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <img src="@Url.Action("BuscarFoto", "Eventos", new { id = item.Id })" 
                     style="width:80px;" />
            </td>

            <td>
                @Html.ActionLink("Alterar", "AlterarEvento", new { id = item.Id }) |
                @Html.ActionLink("Ver Detalhes", "VerDetalhes", new { id = item.Id }) |
                @Html.ActionLink("Remover", "RemoverEvento", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
